[submodule "lecture-04/dependencies/carousels"]
	path = lecture-04/dependencies/carousels
	url = https://github.com/multiparty/carousels.git
[submodule "project-3/Problem1/jiff"]
	path = project-3/Problem1/jiff
	url = https://github.com/multiparty/jiff.git
